---
import BaseLayout from '../layouts/BaseLayout.astro';

import doctor from '../../data/doctor.json';
import socials from '../../data/socials.json';
---

<BaseLayout title="404" doctor={doctor} socials={socials}>
  <h1>Страница не найдена</h1>
  <a href="/">На главную</a>
</BaseLayout>